<div class="card border-primary mb-3">  
    <div class="card-header">{{titulo}}</div>
    <div class="card-body text-primary">   
  
        <button class="btn btn-primary my-2" routerLink="/usuarios/form">Crear Usuario</button>
      <table id="tablaEmpleados" class="table table-striped" style="width:100%">       
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Identificacion</th>
                  <th>Contrasenia</th>
                  <th>Rol</th>                                   
                  <th>Editar</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let usuario of lista">
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.identificacion}}</td>
                  <td>{{"**************"}}</td>                  
                  <td>{{usuario.rol}}</td>                                
                  <td>
                    
                    <button class="btn btn-secondary btn-sm" [routerLink]="['/usuarios/form', usuario.id] " (click)="modificar(usuario)">
                      Editar
                      </button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="eliminar(usuario)" >
                      Eliminar
                    </button>
                </td>
              </tr>
          </tbody>   
      </table>
  
      <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page) = "paginar($event)">
      </mat-paginator>
    </div>
  </div>
  